.settings-list{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.settings__setting {
    padding: 20px 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i{
    margin-right: 20px;
    font-size: 22px;
    opacity: 0.8;
}

.settings__setting-columns :last-child{
    opacity: 0.5;
}

@keyframes listFadeInUp {
    from{
        transform: translatey(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

@keyframes listFadeInDown {
    from{
        transform: translatey(-30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.settings-list:first-child{
    animation: listFadeInDown 1s linear forwards;
}

.settings-list:last-child{
    animation: listFadeInUp 1s linear forwards;
}


